
.app-wrapper { 
  display: grid;
  grid-template-areas:
  "header header header"
  "restaurants-list main-block main-block"
  "footer footer footer";
   grid-template-rows: 60px 260px 60px;
    grid-template-columns: 2fr 10fr 2fr;
    grid-gap: 10px;

    padding: 50px;
}


.header {
  grid-area: header;
  background-color: bisque;
}
.main-block {
  grid-area: main-block;
  background-color: azure;
}
.restaurants-list {
  grid-area: restaurants-list;
  background-color: seashell;
}

.footer {
  grid-area: footer;
  background-color: aquamarine;
}
