
.app-wrapper { 
  display: grid;
  grid-template-areas:
  "header header header"
  "restaurants-list main-block main-block"
  "footer footer footer";
   grid-template-rows: 60px 260px 60px;
    grid-template-columns: 2fr 10fr 2fr;
    grid-gap: 10px;

    padding: 50px;
}